__pycache__/
*.pyc
*.db
.venv/
.pytest_cache/
.coverage
.vscode/
*.swp
pytest.ini
.vs
reports/
.mypy_cache/
docker-compose.override.yml

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
*.tfvars
!terraform.tfvars.example
